.container {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;

  >div {
    margin-bottom: 40px;
  }

  div:last-child {
    margin-bottom: 0;
  }

  h2 {
    margin: 0 0 14px;
    font-size: 1.4rem;
    font-weight: 400;
  }

  p {
    margin: 0.3rem auto;
    line-height: 2rem;
  }
}