@use "mixin" as m;

:root {
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --bg: #fff;
  --childfg: #333;
  --childbg: #ddd;
  --fg: #333;
  --codefg: #333;
  --listitem-color: #222;
  --bookmark-border: rgba(55, 53, 47, 0.16);
  --p-code-color: #eb5757;
  --header-title: #fff;

  /* --accents-1: #0070f3;
  --accents-2: #3291ff; */
  --accents-1: #ff5722;
  --accents-2: #ee3901;
  --accents-3: #666;
  --geist-foreground: #000;
  --geist-success: #690;
  --radius: 4px;
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-mono: SFMono-Regular, Menlo, Consolas, 'PT Mono', 'Liberation Mono', Courier, monospace;
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

html {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
  transition: .5s;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial, メイリオ, Meiryo, sans-serif;

  /*-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  */

  /*background-image: radial-gradient(#ddd 1px, transparent 1px),
    radial-gradient(#ddd 1px, transparent 1px);*/
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;

  /* Hack */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  &.dark-mode {
    --bg: #333;
    --fg: #fff;
    --accents-3: #ddd;
    --listitem-color: #ddd;
    --bookmark-border: rgba(255, 255, 255, 0.608);
  }

  &.light-mode {
    --bg: #fff;
    --fg: #333;
    --accents-3: #666;
    --listitem-color: #222;
    --bookmark-border: rgba(55, 53, 47, 0.16);
  }
}

figure {
  margin: 0;
  font-size: 0.85rem;
  color: #999;
  line-height: 1.8rem;
}

a {
  color: var(--accents-1);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--accents-2);
  }
}

mark {
  padding: var(--gap-quarter);
  border-radius: var(--radius);
  background: rgba(247, 212, 255, 0.8);
}

h1 {
  margin: 0;
  color: var(--fg);
  font-size: 2rem;
  @include m.mq(enb) {
    font-size: 1.6rem;
  }
  font-weight: 700;
}

h2,
h3 {
  margin: 0;
  color: var(--fg);
  font-size: 1.2rem;
  @include m.mq(enb) {
    font-size: 1.15rem;
  }
  font-weight: 700;
}

ol {
  color: var(--listitem-color);
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.8rem;
}

p,
ul {
  color: var(--listitem-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
}

pre {
  margin: 0;
  white-space: pre;
  tab-size: 2;

  :global(code) {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 0.3rem 0;
  background-color: #333;
}

code {
  font-size: 0.9rem;
  background: #f1f1f1;
  color: #eb5757;
  padding: 0.25rem;
  border-radius: var(--radius);
  font-family: var(--font-mono);
}

table {
  color: var(--listitem-color);
  border-collapse: collapse;

  tr {
    vertical-align: middle;
  }

  th {
    font-weight: 600;
    background-color: #f4f4f4;
  }

  td,
  th {
    font-size: 0.9rem;
    border: 1px solid #e4e4e4;
    padding: 0.5rem 1rem;
    line-height: 1.2rem;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;

  @include m.mq(enb2) {
    margin-left: 0;
  }
}

.my-masonry-grid-_column {
  padding-left: 30px;
  background-clip: padding-box;

  >div {
    background: gray;
    margin-bottom: 30px;
  }
}
